In [210]:
import random
import pandas as pd
import numpy as np
import phonenumbers
from phonenumbers import geocoder
from phonenumbers.timezone import time_zones_for_number
from faker import Faker
import us
from datetime import datetime

In [211]:
!pip install us

Requirement already satisfied: us in /home/batman/anaconda3/lib/python3.7/site-packages (2.0.2)
Requirement already satisfied: jellyfish==0.6.1 in /home/batman/anaconda3/lib/python3.7/site-packages (from us) (0.6.1)

In [212]:
#df = pd.read_csv("goanddo - time.csv")
df = pd.read_csv("users_test.csv")
tzs_df = pd.read_csv("tzmapping.csv")
tzs_df.index = tzs_df['State'] # important
pd.set_option('display.float_format', lambda x: '%.0f' % x)
#df.drop('time zone', axis=1, inplace=True)
df.rename(columns={'Unnamed: 0': 'Username', 'Unnamed: 4' : 'Number'}, inplace=True)

In [213]:
df.head()

  Username   time zone UTC start   UTC end       Number
0      Bob  US/Pacific  11:00:00  12:00:00  19254836857
1     John  US/Pacific  16:00:00  22:00:00  19253393908
2   Daniel  US/Pacific  10:00:00  23:00:00  19258609793
3    Kelly  US/Eastern  14:00:00  16:00:00  16613738068

In [214]:
df[["DT Start"]] = df[["UTC start"]].apply(pd.to_datetime)
df[["DT End"]] = df[["UTC end"]].apply(pd.to_datetime)

In [215]:
df.head()

,Username,time zone,UTC start,UTC end,Number,DT Start,DT End
0,Bob,US/Pacific,11:00:00,12:00:00,19254836857,2021-07-13 11:00:00,2021-07-13 12:00:00
1,John,US/Pacific,16:00:00,22:00:00,19253393908,2021-07-13 16:00:00,2021-07-13 22:00:00
2,Daniel,US/Pacific,10:00:00,23:00:00,19258609793,2021-07-13 10:00:00,2021-07-13 23:00:00
3,Kelly,US/Eastern,14:00:00,16:00:00,16613738068,2021-07-13 14:00:00,2021-07-13 16:00:00

In [216]:
now_utc = datetime.utcnow()
now_utc

datetime.datetime(2021, 7, 13, 20, 34, 28, 632734)

In [217]:
#tz = TimeZoneHelper(number)
tz = "US/Pacific"
mask = (df['DT Start'] < now_utc) & (df['DT End'] >= now_utc) & (df['time zone'] == tz)
result = df.loc[mask]
result

,Username,time zone,UTC start,UTC end,Number,DT Start,DT End
1,John,US/Pacific,16:00:00,22:00:00,19253393908,2021-07-13 16:00:00,2021-07-13 22:00:00
2,Daniel,US/Pacific,10:00:00,23:00:00,19258609793,2021-07-13 10:00:00,2021-07-13 23:00:00

In [220]:
match = result.head(1)
match

,Username,time zone,UTC start,UTC end,Number,DT Start,DT End
1,John,US/Pacific,16:00:00,22:00:00,19253393908,2021-07-13 16:00:00,2021-07-13 22:00:00

In [221]:
match["Number"]

1    19253393908
Name: Number, dtype: int64