In [1]:
import random
import pandas as pd
import numpy as np
import phonenumbers
from phonenumbers import geocoder
from phonenumbers.timezone import time_zones_for_number
from faker import Faker
import us

In [2]:
!pip install us

Requirement already satisfied: us in /home/batman/anaconda3/lib/python3.7/site-packages (2.0.2)
Requirement already satisfied: jellyfish==0.6.1 in /home/batman/anaconda3/lib/python3.7/site-packages (from us) (0.6.1)

In [3]:
df = pd.read_csv("existingDataTest.csv")
tzs_df = pd.read_csv("tzmapping.csv")
tzs_df.index = tzs_df['State'] # important
pd.set_option('display.float_format', lambda x: '%.0f' % x)
df.drop('time zone', axis=1, inplace=True)

In [4]:
df.head()

   Phone Number      call time
0   16692419870  8 am to 11 am
1   16617480240  11 am to 3 pm
2   19254836857  11 am to 3 pm
3   19259147169  11 am to 3 pm
4   16613738068  11 am to 3 pm

In [5]:
nums = df['Phone Number']

In [6]:
tzs_df.head()

                 State                                         Zone
State
Alabama        Alabama                            Central Time Zone
Alaska          Alaska  Alaska Time Zone, Hawaii-Aleutian Time Zone
Arizona        Arizona                           Mountain Time Zone
Arkansas      Arkansas                            Central Time Zone
California  California                            Pacific Time Zone

In [7]:
# tzs_df.index = tzs_df['State']
# tzs_df.loc["California"]

In [8]:
tzs_df.head()

                 State                                         Zone
State
Alabama        Alabama                            Central Time Zone
Alaska          Alaska  Alaska Time Zone, Hawaii-Aleutian Time Zone
Arizona        Arizona                           Mountain Time Zone
Arkansas      Arkansas                            Central Time Zone
California  California                            Pacific Time Zone

In [9]:
tzs = []
states = []
for num in nums:
    fmtNum = phonenumbers.parse("+" + str(num))
    state = geocoder.description_for_number(fmtNum,'en')
    states.append(state)
    tz = tzs_df.loc[state]['Zone']
    tzs.append(tz)
    
df['State'] = states
df['TZ'] = tzs
df.head(10)

,Phone Number,call time,State,TZ
0,16692419870,8 am to 11 am,California,Pacific Time Zone
1,16617480240,11 am to 3 pm,California,Pacific Time Zone
2,19254836857,11 am to 3 pm,California,Pacific Time Zone
3,19259147169,11 am to 3 pm,California,Pacific Time Zone
4,16613738068,11 am to 3 pm,California,Pacific Time Zone
5,17255771073,11 am to 3 pm,Nevada,"Pacific Time Zone, Mountain Time Zone"
6,14089135070,3 pm to 7 pm,California,Pacific Time Zone
7,14436533745,11 am to 3 pm,Maryland,Eastern Time Zone
8,16509245156,11 am to 3 pm,California,Pacific Time Zone
9,15127016862,11 am to 3 pm,Texas,"Central Time Zone, Mountain Time Zone"

In [10]:
####

In [11]:
grouped = df.groupby(["TZ","call time"]).sum()

In [12]:
grouped

                                                     Phone Number
TZ                                    call time
Central Time Zone, Mountain Time Zone 11 am to 3 pm   15127016862
Eastern Time Zone                     11 am to 3 pm   14436533745
                                      3 pm to 7 pm    32752536259
Pacific Time Zone                     11 am to 3 pm   88254447490
                                      3 pm to 7 pm    33347744863
                                      8 am to 11 am   16692419870
Pacific Time Zone, Mountain Time Zone 11 am to 3 pm   17255771073

In [13]:
grouped.loc['Pacific Time Zone']

               Phone Number
call time
11 am to 3 pm   88254447490
3 pm to 7 pm    33347744863
8 am to 11 am   16692419870

In [14]:
grouped.loc['Pacific Time Zone'].loc['11 am to 3 pm']

Phone Number    88254447490
Name: 11 am to 3 pm, dtype: int64